.project {
  background: #f5f7fa;
  padding: 0;
  margin: 0;
}

.project-wrapper {
  padding: 50px;
}

.header-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  .title {
    color: #333b69;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0;
  }

  .action-buttons {
    button + button {
      margin-left: 15px;
    }
  }
}

.table-list {
  box-shadow: none;
}

table {
  .description-col {
    width: 20%;
  }
  .projectId-col {
    width: 16%;
  }
  .type-col {
    width: 16%;

  }
  .owner-col {
    width: 16%;

  }
  .actions-col {
    width: 16%;
  }
  button {
    margin: 0 6px;
  }
}