.tab-labels {
    display: flex;
    margin-bottom: 30px;

    >div {
        font-weight: 500;
        font-size: 16px;
        color: #b1b1b1;
        padding-bottom: 15px;
        padding-left: 0;
        padding-right: 25px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
            color: #092c4c;
        }

        &.active {
            color: #092c4c;
            border-bottom: 2px solid #092c4c;
        }
    }
}