<div class="role-selection">
  <div class="header">
    <img [src]="'assets/img/project/logo-app.png'" class="logo-app" alt="logo">
  </div>
  <div class="role-selection-wrapper">
    <h1 class="title">Please select your role to continue!</h1>
    <div class="wrapper">
      <div class="role-item">
        <img [src]="'assets/img/project/role-image.png'" alt="Role Image" />
        <div class="content">
          <h2 class="subtitle">
            Customer
          </h2>
          <div class="content-wrapper">
            Some quick example text to build on the card title and make up the bulk of the card's content.
            make up the bulk of the card's content.
          </div>
          <button (click)="onSelectRole('Customer')">Select</button>
        </div>
      </div>
      <div class="role-item">
        <img [src]="'assets/img/project/role-image.png'" alt="Role Image" />
        <div class="content">
          <h2 class="subtitle">
            Trade
          </h2>
          <div class="content-wrapper">
            Some quick example text to build on the card title and make up the bulk of the card's content.
            make up the bulk of the card's content.
          </div>
          <button (click)="onSelectRole('Trade')">Select</button>
        </div>
      </div>
      <div class="role-item">
        <img [src]="'assets/img/project/role-image.png'" alt="Role Image" />
        <div class="content">
          <h2 class="subtitle">
            Adjucator
          </h2>
          <div class="content-wrapper">
            Some quick example text to build on the card title and make up the bulk of the card's content.
            make up the bulk of the card's content.
          </div>
          <button (click)="onSelectRole('Adjucator')">Select</button>
        </div>
      </div>
    </div>
  </div>
</div>