.project-detail {
  background: #f5f7fa;
  padding: 0;
  margin: 0;
}

.project-detail-wrapper {
  padding: 50px;
}

.title {
  color: #333b69;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 50px;
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.info-left {
  width: 70%;
  padding-right: 30px;
}

form {
  label {
    color: #232323;
    font-size: 16px;
    font-weight: 400;
  }
  input, textarea {
    border-color: #dfeaf2;
    width: 100%;
    border-radius: 10px;
    color: #718ebf;
    &::placeholder {
      color: #bdbdbd;
    }
  }

  input {
    height: 50px;
  }

  textarea {
    height: 150px;
  }
}

.action-buttons {
  display: flex;
  justify-content: end;
}

.cancel-button {
  width: 190px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dfeaf2;
  margin-right: 15px;
  background-color: #dfeaf2;
  color: #fff;
}

.submit-button {
  background-color: #092c4c;
  opacity: 1;
  color: #fff;
  width: 190px;
  height: 50px;
  border-radius: 5px;
  border: none;
}
