<!-- <div class="agreement-detail">
  <div class="title">
    <div class="text">Edit Agreement</div>
    <button (click)="onClose()">
      <img src="assets/img/project/delete.png" class="delete-image" alt="" />
    </button>
  </div>
  <mat-dialog-content>
  </mat-dialog-content>
</div> -->
<div class="wrapper">
  <div class="task-table row">
    <h1 class="table-label">Task table</h1>
    <div class="mat-elevation-z8 table-list">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="description">
          <th class="description-col" mat-header-cell *matHeaderCellDef>
            Task
          </th>
          <td mat-cell *matCellDef="let element">
            <span
              *ngIf="element.editing; then editBlock; else displayBlock"
            ></span>
            <ng-template #displayBlock>
              {{ element.description }}</ng-template
            >
            <ng-template #editBlock>
              <textarea
                class="form-control"
                name="editBlock"
                id="editBlock"
                placeholder="Please enter new description..."
              ></textarea>
            </ng-template>
          </td>
        </ng-container>
        <ng-container matColumnDef="startDate">
          <th
            class="startDate-col cell-center"
            mat-header-cell
            *matHeaderCellDef
          >
            Start Date
          </th>
          <td mat-cell *matCellDef="let element" class="cell-center">
            {{ element.startDate }}
          </td>
        </ng-container>
        <ng-container matColumnDef="finishDate">
          <th
            class="finishDate-col cell-center"
            mat-header-cell
            *matHeaderCellDef
          >
            Start Date
          </th>
          <td mat-cell *matCellDef="let element" class="cell-center">
            {{ element.finishDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="tradeApproval">
          <th
            class="trade-approval-col cell-center"
            mat-header-cell
            *matHeaderCellDef
          >
            Trade Approval
          </th>
          <td
            mat-cell
            *matCellDef="let element; index as index"
            class="cell-center"
          >
            <mat-form-field>
              <mat-select
                placeholder="Status"
                [(value)]="element.tradeApproval"
                [class]="element.tradeApproval"
                (selectionChange)="
                  changeApproval($event, 'tradeApproval', index)
                "
              >
                <mat-option
                  *ngFor="let item of statusesApproval"
                  [value]="item.value"
                  >{{ item.viewValue }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="customerApproval">
          <th
            class="customer-approval-col cell-center"
            mat-header-cell
            *matHeaderCellDef
          >
            Customer Approval
          </th>
          <td
            mat-cell
            *matCellDef="let element; index as index"
            class="cell-center"
          >
            <mat-form-field>
              <mat-select
                placeholder="Status"
                [(value)]="element.customerApproval"
                [class]="element.customerApproval"
                (selectionChange)="
                  changeApproval($event, 'customerApproval', index)
                "
              >
                <mat-option
                  *ngFor="let item of statusesApproval"
                  [value]="item.value"
                  >{{ item.viewValue }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="ajudicatorApproval">
          <th
            class="ajudicator-approval-col cell-center"
            mat-header-cell
            *matHeaderCellDef
          >
            Ajudicator Approval
          </th>
          <td
            mat-cell
            *matCellDef="let element; index as index"
            class="cell-center"
          >
            <mat-form-field>
              <mat-select
                placeholder="Status"
                [(value)]="element.ajudicatorApproval"
                [class]="element.ajudicatorApproval"
                (selectionChange)="
                  changeApproval($event, 'ajudicatorApproval', index)
                "
              >
                <mat-option
                  *ngFor="let item of statusesApproval"
                  [value]="item.value"
                  >{{ item.viewValue }}</mat-option
                >
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div class="row-add">
        <mat-icon
          (click)="addRow()"
          aria-hidden="false"
          aria-label="add"
          fontIcon="add"
        ></mat-icon>
      </div>
    </div>
    <div class="pagination-list">
      <button class="prev-button" (click)="onClickPage('prev')">
        <img
          [src]="'assets/img/project/prev-button.png'"
          class="prev-button-img"
          alt="prev-button"
        />
        <span class="text">Previous</span>
      </button>

      <button
        *ngFor="let item of [1, 2, 3, 4]"
        class="page-number"
        (click)="onClickPage(item)"
        [textContent]="item"
        [ngClass]="{
          active: item == selectedPage
        }"
      >
        {{ item }}
      </button>
      <button class="next-button" (click)="onClickPage('next')">
        <span class="text">Next</span>
        <img
          [src]="'assets/img/project/next-button.png'"
          class="next-button-img"
          alt="next-button"
        />
      </button>
    </div>
  </div>
  <div class="attachments-table row">
    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
      <h1 class="table-label">Attachments</h1>
      <div class="mat-elevation-z8 table-list">
        <table mat-table [dataSource]="attachmentsDataSource">
          <ng-container matColumnDef="name">
            <th class="name-col" mat-header-cell *matHeaderCellDef>
              Name
            </th>
            <td mat-cell *matCellDef="let element" class="cell-left">
              {{ element.name }}
            </td>
          </ng-container>
          <ng-container matColumnDef="size">
            <th
              class="size-col cell-left"
              mat-header-cell
              *matHeaderCellDef
            >
              Size
            </th>
            <td mat-cell *matCellDef="let element" class="cell-left">
              {{ element.size }}
            </td>
          </ng-container>
          <ng-container matColumnDef="dateAdded">
            <th
              class="dateAdded-col cell-center"
              mat-header-cell
              *matHeaderCellDef
            >
              Date Added
            </th>
            <td mat-cell *matCellDef="let element" class="cell-center">
              {{ element.dateAdded }}
            </td>
          </ng-container>
          <ng-container matColumnDef="downloadIcon">
            <th class="downloadIcon-col cell-center" mat-header-cell *matHeaderCellDef>

            </th>
            <td mat-cell *matCellDef="let element; index as index" class="cell-center">
              <button class="download-button">
                <img src="assets/img/project/download-icon.png" alt="" />
              </button>
            </td>

          </ng-container>
        

          <tr mat-header-row *matHeaderRowDef="attachmentColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: attachmentColumns"></tr>
        </table>
        <div class="row-add">
          <mat-icon
            (click)="addAttachmentRow()"
            aria-hidden="false"
            aria-label="add"
            fontIcon="add"
          ></mat-icon>
        </div>
      </div>
      <div class="pagination-list">
        <button class="prev-button" (click)="onClickPage('prev')">
          <img
            [src]="'assets/img/project/prev-button.png'"
            class="prev-button-img"
            alt="prev-button"
          />
          <span class="text">Previous</span>
        </button>

        <button
          *ngFor="let item of [1, 2, 3, 4]"
          class="page-number"
          (click)="onClickAttachmentsPage(item)"
          [textContent]="item"
          [ngClass]="{
            active: item == selectedAttachmentPage
          }"
        >
          {{ item }}
        </button>
        <button class="next-button" (click)="onClickAttachmentsPage('next')">
          <span class="text">Next</span>
          <img
            [src]="'assets/img/project/next-button.png'"
            class="next-button-img"
            alt="next-button"
          />
        </button>
      </div>
    </div>
  </div>
</div>
