.settings {
  background: #f5f7fa;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.settings-wrapper {
  padding: 50px;
}

.settings-inner {
  background: #fff;
  border-radius: 10px;
  padding: 50px;

  form {
    width: 80%;
    margin: 0 auto;
  }
}

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.info-left {
  width: 50%;
  padding-right: 30px;
}

.info-right {
  width: 50%;
  padding-left: 30px;
  padding-top: 80px;
}

form {
  label {
    color: #232323;
    font-size: 16px;
    font-weight: 400;
  }
  input {
    border-color: #dfeaf2;
    padding: 0 15px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: #718ebf;
    &::placeholder {
      color: #bdbdbd;
    }
  }

  .value {
    color: #718ebf;
  }
}

.action-buttons {
  display: flex;
  justify-content: end;
}

.save-button {
  background-color: #092c4c;
  opacity: 1;
  color: #fff;
  width: 250px;
  height: 56px;
  border-radius: 10px;
  border: none;
}

:host ::ng-deep {
  .mat-mdc-tab-label-container {
    margin-bottom: 25px;
  }
  .mat-mdc-tab.mdc-tab {
    flex-grow: 0 !important;
    color: #333b69;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 0;
    margin-right: 15px;
    .mdc-tab__text-label {
      color: #b1b1b1;
    }
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #092c4c;
  }

  .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: #092c4c;
  }

  .mat-mdc-tab-body-content {
    overflow-x: hidden;
  }
}
