.settings {
  background: #f5f7fa;
  padding: 0;
  margin: 0;
}

.settings-wrapper {
  padding: 50px 10px;
}

.settings-inner {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

form {
  label {
    color: #232323;
    font-size: 16px;
    font-weight: 400;
  }
  input {
    border-color: #dfeaf2;
    padding: 0 15px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: #718ebf;
    &::placeholder {
      color: #bdbdbd;
    }
  }

  .value {
    color: #718ebf;
  }
}

.save-button {
  background-color: #092c4c;
  opacity: 1;
  color: #fff;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: none;
}

:host ::ng-deep {
  .mat-mdc-tab-label-container {
    margin-bottom: 25px;
  }
  .mat-mdc-tab.mdc-tab {
    flex-grow: 0 !important;
    color: #333b69;
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;
    padding-left: 0;
    margin-right: 15px;
    .mdc-tab__text-label {
      color: #b1b1b1;
    }
  }

  .mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
    color: #092c4c;
  }

  .mat-mdc-tab .mdc-tab-indicator__content--underline {
    border-color: #092c4c;
  }

  .mat-mdc-tab-body-content {
    overflow-x: hidden;
  }
}

.space-tmp {
  display: none;
}


@media only screen and (min-width: 768px) {
  .space-tmp {
    display: block;
    height: 80px;
  }

  .info-left {
    padding-right: 15px;
  }

  .info-right {
    padding-left: 15px;
  }

  .settings {
    height: 100vh;
  }

  .settings-inner {
    padding: 50px;
  }

  .action-buttons {
    display: flex;
    justify-content: end;
  }

  .save-button {
    width: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  // iPad and iPad pro
}

@media only screen and (min-width: 1024px) {

  form {
    padding: 0 30px;
  }

  .settings-wrapper {
    padding: 50px 100px;
  }
}

@media only screen and (min-width: 1440px) {
  form {
    padding: 0 50px;
  }

  .info-left {
    padding-right: 30px;
  }

  .info-right {
    padding-left: 30px;
  }
}