<div class="forgot-password-wrapper">
  <div class="row">
    <div class="forgot-password-left col-lg-6 col-md-6 col-sm-12">
      <img [src]="'assets/img/project/logo-app.png'" class="logo-app" alt="logo" />
      <img [src]="'assets/img/project/login-bg-left.png'" class="forgot-password-bg-left" alt="forgot-password-bg-left" />
    </div>
    <div class="forgot-password-right col-lg-6 col-md-6 col-sm-12">
      <div class="forgot-password-right-wrapper">
        <div class="text-center text-primary mb-4">
          <img [src]="'assets/img/project/logo-1.png'" alt="logo" class="logo-image">
          <div class="title"> Forget password</div>
          <div class="subtitle">Please input email to receive reset link</div>
        </div>
  
        <div class="d-flex justify-content-center">
          <div class="wrapper">
            <div class="tab-labels">
              <div [ngClass]="{
                  'active': selectedTabIndex == 0
                }" (click)="onClickTab(0)">
                Email
              </div>
              <div [ngClass]="
                {
                  'active': selectedTabIndex == 1
                }" (click)="onClickTab(1)">Phone Number</div>
            </div>
            <form [formGroup]="formGroup">
  
              <div *ngIf="selectedTabIndex == 0" class="mb-5">
                <label for="email" class="form-label text-start w-100">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your email"
                  [ngClass]="{ 'is-invalid' : formGroup.controls.email.errors && formGroup.controls.email.touched }">
                <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('required')">
                  {{ 'FIELD_REQUIRED' | translate }}
                </div>
                <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('email')">
                  {{ 'FIELD_EMAIL' | translate }}
                </div>
              </div>
              <div *ngIf="selectedTabIndex == 1 && !isOTPCodeShowed" class="mb-5">
                <label for="phoneNumber" class="form-label text-start w-100"
                  >Phone Number</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="phoneNumber"
                  formControlName="phoneNumber"
                  placeholder="Enter your phone number"
                  [ngClass]="{
                    'is-invalid':
                      formGroup.controls.phoneNumber.errors &&
                      formGroup.controls.phoneNumber.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="formGroup.controls.phoneNumber.hasError('required')"
                >
                  {{ "FIELD_REQUIRED" | translate }}
                </div>
              </div>
              <div *ngIf="selectedTabIndex == 1 && isOTPCodeShowed" class="mb-5">
                <label for="otpCode" class="form-label text-start w-100"
                  >OTP Code</label
                >
                <input
                  type="number"
                  class="form-control"
                  id="otpCode"
                  formControlName="otpCode"
                  placeholder="Enter your OTP code"
                  [ngClass]="{
                    'is-invalid':
                      formGroup.controls.otpCode.errors &&
                      formGroup.controls.otpCode.touched
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="formGroup.controls.otpCode.hasError('required')"
                >
                  {{ "FIELD_REQUIRED" | translate }}
                </div>
              </div>
  
              <div class="text-center">
                <button (click)="onClickSubmit()" *ngIf="selectedTabIndex == 0 || (selectedTabIndex == 1 && isOTPCodeShowed)" class="btn btn-primary">
                  Submit
                </button>
                <button (click)="onGetOTP()" *ngIf="selectedTabIndex == 1 && !isOTPCodeShowed" class="btn btn-primary mb-3 px-5">
                 Get OTP
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>