<div class="payments">
  <div class="my-cards">
    <div class="title">My cards</div>
    <div class="card-list row">
      <div class="card-item col-md-3 col-sm-12">
        <img src="assets/img/project/card-1.png" />
      </div>
      <div class="card-item col-md-3 col-sm-12">
        <img src="assets/img/project/card-2.png" />
      </div>
      <div class="card-item col-md-3 col-sm-12">
        <img src="assets/img/project/card-3.png" />
      </div>
    </div>
  </div>
  <div class="add-card row">
    <div class="col-md-9 col-sm-12">
      <div class="title">Add Card</div>
      <div class="description">
        Credit Card generally means a plastic card issued by Scheduled Commercial
        Banks assigned to a Cardholder, with a credit limit, that can be used to
        purchase goods and services on credit or obtain cash advances.
      </div>
      <form [formGroup]="formGroup">
        <div class="row mb-4">
          <div class="col-md-6 col-sm-12">
            <label for="cardType" class="form-label text-start w-100">Card Type</label>
            <input type="text" class="form-control" id="cardType" formControlName="cardType"
              placeholder="Enter your card type" [ngClass]="{
                'is-invalid':
                  formGroup.controls.cardType.errors &&
                  formGroup.controls.cardType.touched
              }" />
            <div class="invalid-feedback" *ngIf="formGroup.controls.cardType.hasError('required')">
              {{ "FIELD_REQUIRED" | translate }}
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label for="nameOnCard" class="form-label text-start w-100">Name On Card</label>
            <input type="text" class="form-control" id="nameOnCard" formControlName="nameOnCard"
              placeholder="Enter your name on card" [ngClass]="{
                'is-invalid':
                  formGroup.controls.nameOnCard.errors &&
                  formGroup.controls.nameOnCard.touched
              }" />
            <div class="invalid-feedback" *ngIf="formGroup.controls.nameOnCard.hasError('required')">
              {{ "FIELD_REQUIRED" | translate }}
            </div>
          </div>
        </div>
        <div class="row mb-5">
          <div class="col-md-6 col-sm-12">
            <label for="cardNumber" class="form-label text-start w-100">Card Number</label>
            <input type="text" class="form-control" id="cardNumber" formControlName="cardNumber"
              placeholder="Enter your card number" [ngClass]="{
                'is-invalid':
                  formGroup.controls.cardNumber.errors &&
                  formGroup.controls.cardNumber.touched
              }" />
            <div class="invalid-feedback" *ngIf="formGroup.controls.cardNumber.hasError('required')">
              {{ "FIELD_REQUIRED" | translate }}
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label for="expirationDate" class="form-label text-start w-100">Expiration Date</label>
            <input type="date" class="form-control" id="expirationDate" formControlName="expirationDate"
              placeholder="Enter your expiration date" [ngClass]="{
                'is-invalid':
                  formGroup.controls.expirationDate.errors &&
                  formGroup.controls.expirationDate.touched
              }" />
            <div class="invalid-feedback" *ngIf="formGroup.controls.expirationDate.hasError('required')">
              {{ "FIELD_REQUIRED" | translate }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12"></div>
          <div class="submit-btn col-md-6">
            <button type="submit" (click)="onClickSubmit()">Add card</button>
          </div>
        </div>
      </form>

    </div>

  </div>
</div>