.payments {
  .title {
    color: #333b69;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .add-card {
    .description {
      color: #718ebf;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 30px;
    }
  }
}

.action-buttons {
  display: flex;
  justify-content: end;
}

.card-list {
  display: flex;
  margin-bottom: 20px;
  .card-item {
    margin-bottom: 35px;
    padding-right: 30px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

