<div class="customer-infomation">
  <div class="customer-infomation-header">
    <a [routerLink]="['/dashboard']">
      <img [src]="'assets/img/project/logo-app.png'" class="logo-app" alt="logo">
    </a>
  </div>
  <div class="customer-wrapper container">
    <h1 class="title">
      {{title}}
    </h1>
    <div class="wrapper row">
      <div class="profile-avatar col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <img [src]="'assets/img/project/profile-avatar.png'" alt="Profile Avatar" class="">
        <h2 class="subtitle">
          {{subtitle}}
        </h2>
      </div>
      <div class="info col-lg-9 col-md-9 col-sm-12 col-xs-12">
        <form [formGroup]="formGroup">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="mb-5">
                <label for="licenseNumber" class="form-label text-start w-100">License Number</label>
                <input type="text" class="form-control" id="licenseNumber" formControlName="licenseNumber"
                  placeholder="Enter your license number"
                  [ngClass]="{ 'is-invalid' : formGroup.controls.licenseNumber.errors && formGroup.controls.licenseNumber.touched }">
                <div class="invalid-feedback" *ngIf="formGroup.controls.licenseNumber.hasError('required')">
                  {{ 'FIELD_REQUIRED' | translate }}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="mb-5">
                <label for="yourname" class="form-label text-start w-100">Your Name</label>
                <input type="text" class="form-control" id="yourname" formControlName="yourname"
                  placeholder="Enter your name"
                  [ngClass]="{ 'is-invalid' : formGroup.controls.yourname.errors && formGroup.controls.yourname.touched }">
                <div class="invalid-feedback" *ngIf="formGroup.controls.yourname.hasError('required')">
                  {{ 'FIELD_REQUIRED' | translate }}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="mb-5">
                <label for="username" class="form-label text-start w-100">User Name</label>
                <input type="text" class="form-control" id="username" formControlName="username"
                  placeholder="Enter your user name"
                  [ngClass]="{ 'is-invalid' : formGroup.controls.username.errors && formGroup.controls.username.touched }">
                <div class="invalid-feedback" *ngIf="formGroup.controls.username.hasError('required')">
                  {{ 'FIELD_REQUIRED' | translate }}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="mb-5">
                <label for="email" class="form-label text-start w-100">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email"
                  placeholder="Enter your email"
                  [ngClass]="{ 'is-invalid' : formGroup.controls.email.errors && formGroup.controls.email.touched }">
                <div class="invalid-feedback" *ngIf="formGroup.controls.email.hasError('required')">
                  {{ 'FIELD_REQUIRED' | translate }}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="mb-5">
                <label for="password" class="form-label text-start w-100">Password</label>
                <input type="password" class="form-control" id="password" formControlName="password"
                  placeholder="Enter your password"
                  [ngClass]="{ 'is-invalid' : formGroup.controls.password.errors && formGroup.controls.password.touched }">
                <div class="invalid-feedback" *ngIf="formGroup.controls.password.hasError('required')">
                  {{ 'FIELD_REQUIRED' | translate }}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="mb-5">
                <label for="dateOfBirth" class="form-label text-start w-100">Date of Birth</label>
                <input type="date" class="form-control" id="dateOfBirth" formControlName="dateOfBirth"
                  placeholder="Enter your Date of Birth"
                  [ngClass]="{ 'is-invalid' : formGroup.controls.dateOfBirth.errors && formGroup.controls.dateOfBirth.touched }">
                <div class="invalid-feedback" *ngIf="formGroup.controls.dateOfBirth.hasError('required')">
                  {{ 'FIELD_REQUIRED' | translate }}
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <div class="mb-5">
                <label for="address" class="form-label text-start w-100">Address</label>
                <input type="address" class="form-control" id="address" formControlName="address"
                  placeholder="Enter your address"
                  [ngClass]="{ 'is-invalid' : formGroup.controls.address.errors && formGroup.controls.address.touched }">
                <div class="invalid-feedback" *ngIf="formGroup.controls.address.hasError('required')">
                  {{ 'FIELD_REQUIRED' | translate }}
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="action-buttons">
          <button (click)="onBack()" class="secondary">Back</button>
          <button (click)="onClickSubmit()" type="submit" class="primary">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>