.customer-infomation {
  background: #f5f7fa;

  .header {
    background: #fff;
    padding: 20px 30px;
  }
}

.customer-wrapper {
  padding: 70px 0;
}

.title {
  text-align: center;
  color: #333b69;
  font-size: 22px;
  margin-bottom: 40px;
}

.subtitle {
  text-align: center;
  color: #333b69;
  font-size: 16px;
  margin-bottom: 40px;
  font-weight: 400;
}

.wrapper {
  display: flex;
  align-items: center;
  padding: 50px 20px;
  margin: 0 auto;
  background: #fff;
  border-radius: 15px;
}

.profile-avatar {
  img {
    width: 134px;
    height: 100%;
    display: block;
    margin: 15px auto;
  }
}

.form-wrapper {
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}



form {
  label {
    color: #232323;
    font-size: 16px;
    font-weight: 400;
  }

  input {
    border-color: #dfeaf2;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    color: #718ebf;

    &::placeholder {
      color: #bdbdbd;
    }
  }
}

.action-buttons {
  display: flex;
  justify-content: end;
}

.back-button {
  width: 148px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #092c4c;
  margin-right: 15px;
  background-color: #f5f7fa;
}

.submit-button {
  background-color: #092c4c;
  opacity: 1;
  color: #fff;
  width: 148px;
  height: 50px;
  border-radius: 50px;
  border: none;
}

.space-tmp {
  display: none;
}

@media only screen and (min-width: 768px) {

  .space-tmp {
    display: block;
    height: 132px;
  }

  .info-left {
    padding-right: 15px;
  }

  .info-right {
    padding-left: 15px;
  }

  .customer-infomation {
    height: 100vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  // iPad and iPad pro
}

@media only screen and (min-width: 1024px) {

  .info-left {
    padding-right: 30px;
  }

  .info-right {
    padding-left: 30px;
  }

  .wrapper {
    padding: 50px 100px;
  }
}