<app-page-layout>
  <div class="chats">
    <app-progress-bar *ngIf="storeService.isLoading()"></app-progress-bar>
    <ng-container *ngIf="!storeService.isLoading()">
      <div class="chats-wrapper">
        <div class="chats-inner">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
              <ul class="user-list">
                <li class="user-item" *ngFor="let item of users; index as index" (click)="onSelectUser(item, index)" [ngClass]="{
                  'active': index === selectedIndex
                }">
                  <img [src]="item.image" alt="Avatar" />
                  <div class="info">
                    <div class="info-left">
                      <div class="name">{{item.name}}</div>
                      <div class="message">{{item.message}}</div>
                    </div>
                    <div class="info-right">
                      <div class="time">{{item.time}}</div>
                      <div *ngIf="item.readMessageCount" class="count">{{item.readMessageCount}}</div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-6 col-xs-6">
              <div class="chats-header">
                <div class="selected-user">
                  <img [src]="selectedUser.image" alt="Avatar" />
                  <div class="content">

                    <div class="name">{{selectedUser.name}}</div>
                    <div class="recent-time">{{selectedUser.recentTime}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</app-page-layout>