<app-page-layout>
  <div class="dashboard">
    <app-progress-bar *ngIf="storeService.isLoading()"></app-progress-bar>

    <ng-container *ngIf="!storeService.isLoading()">
      <div class="dashboard-list">
        <h1 class="title">Searching project</h1>
        <form>
          <input type="text" class="form-control" id="search" formControlName="search"
            placeholder="Enter your search" />
          <img [src]="'assets/img/project/icon-search.png'" />
        </form>
        <div class="categories">
          <button class="category-item">Technology</button>
          <button class="category-item">Bussiness</button>
          <button class="category-item">Financial</button>
          <button class="category-item">Networking</button>
          <button class="category-item">AI</button>
          <button class="category-item">Cybersecurity</button>
          <button class="category-item">Customer</button>
        </div>
        <div class="results">
          <h1 class="title">Results</h1>
          <div class="result-list">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="result-item">
                  <img class="card-image" [src]="'assets/img/project/result-image.png'" />
                  <div class="content">
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </div>
                    <div class="group">
                      <div class="item">
                        <img [src]="'assets/img/project/icon-loan.png'" class="icon-loan" />
                        <span class="delivery-text">6 months delivery</span>
                      </div>
                      <div class="item">
                        <img [src]="'assets/img/project/icon-loan.png'" class="icon-loan" />
                        <span class="money-text">$100</span>
                      </div>
                    </div>
                  </div>
                  <div class="content">
                    <div class="user-group">
                      <div class="user">
                        <img [src]="'assets/img/project/user-avatar.png'" class="user-avatar" />
                        <div class="user-info">
                          <div class="name">Livia Bator</div>
                          <div class="position">CEO</div>
                        </div>
                      </div>
                      <div class="stars">
                        <img [src]="'assets/img/project/icon-star.png'" />
                        <span class="star-number">4.9</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="result-item">
                  <img class="card-image" [src]="'assets/img/project/result-image.png'" />
                  <div class="content">
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </div>
                    <div class="group">
                      <div class="item">
                        <img [src]="'assets/img/project/icon-loan.png'" class="icon-loan" />
                        <span class="delivery-text">6 months delivery</span>
                      </div>
                      <div class="item">
                        <img [src]="'assets/img/project/icon-loan.png'" class="icon-loan" />
                        <span class="money-text">$100</span>
                      </div>
                    </div>
                  </div>
                  <div class="content">
                    <div class="user-group">
                      <div class="user">
                        <img [src]="'assets/img/project/user-avatar.png'" class="user-avatar" />
                        <div class="user-info">
                          <div class="name">Livia Bator</div>
                          <div class="position">CEO</div>
                        </div>
                      </div>
                      <div class="stars">
                        <img [src]="'assets/img/project/icon-star.png'" />
                        <span class="star-number">4.9</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="result-item">
                  <img class="card-image" [src]="'assets/img/project/result-image.png'" />
                  <div class="content">
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </div>
                    <div class="group">
                      <div class="item">
                        <img [src]="'assets/img/project/icon-loan.png'" class="icon-loan" />
                        <span class="delivery-text">6 months delivery</span>
                      </div>
                      <div class="item">
                        <img [src]="'assets/img/project/icon-loan.png'" class="icon-loan" />
                        <span class="money-text">$100</span>
                      </div>
                    </div>
                  </div>
                  <div class="content">
                    <div class="user-group">
                      <div class="user">
                        <img [src]="'assets/img/project/user-avatar.png'" class="user-avatar" />
                        <div class="user-info">
                          <div class="name">Livia Bator</div>
                          <div class="position">CEO</div>
                        </div>
                      </div>
                      <div class="stars">
                        <img [src]="'assets/img/project/icon-star.png'" />
                        <span class="star-number">4.9</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
                <div class="result-item">
                  <img class="card-image" [src]="'assets/img/project/result-image.png'" />
                  <div class="content">
                    <div class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </div>
                    <div class="group">
                      <div class="item">
                        <img [src]="'assets/img/project/icon-loan.png'" class="icon-loan" />
                        <span class="delivery-text">6 months delivery</span>
                      </div>
                      <div class="item">
                        <img [src]="'assets/img/project/icon-loan.png'" class="icon-loan" />
                        <span class="money-text">$100</span>
                      </div>
                    </div>
                  </div>
                  <div class="content">
                    <div class="user-group">
                      <div class="user">
                        <img [src]="'assets/img/project/user-avatar.png'" class="user-avatar" />
                        <div class="user-info">
                          <div class="name">Livia Bator</div>
                          <div class="position">CEO</div>
                        </div>
                      </div>
                      <div class="stars">
                        <img [src]="'assets/img/project/icon-star.png'" />
                        <span class="star-number">4.9</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="load-more text-center">
              <button class="primary">Load more</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</app-page-layout>