.home {
  height: 100vh;
  background: #f5f7fa;
  padding: 0;
  margin: 0;
}

.dashboard-list {
  margin: 0 15px;
}

.dashboard-item {
  width: 350px;
  background-color: #fff;
  border-radius: 10px;
  margin: 30px 15px;
  display: flex;
  cursor: pointer;
  padding: 15px;
  align-items: center;
  transition: 0.1s;
  .text {
    color: #718ebf;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
  }
  .number {
    font-size: 16px;
    color: #232323;
    font-weight: 600;
  }
  &:hover {
    box-shadow: 2px 1px 3px 2px #ddd;
    opacity: 0.8;
  }
}
