<app-page-layout>
  <div class="home">
    <app-progress-bar *ngIf="storeService.isLoading()"></app-progress-bar>

    <ng-container *ngIf="!storeService.isLoading()">
      <div class="text-center">
        <div class="dashboard-list row">
          <div class="dashboard-item col-md-4" (click)="onClick('projects')">
            <img
              [src]="'assets/img/project/project-total.png'"
              class="project-total mx-3"
              alt="project-tatal"
            />
            <div class="content">
              <div class="text">Total projects</div>
              <div class="number">150</div>
            </div>
          </div>
          <div class="dashboard-item col-md-4" (click)="onClick('ratings')">
            <img
              [src]="'assets/img/project/rating-total.png'"
              class="rating-total mx-3"
              alt="rating-tatal"
            />
            <div class="content">
              <div class="text">Total ratings</div>
              <div class="number">100</div>
            </div>
          </div>
          <div class="dashboard-item col-md-4" (click)="onClick('lorem')">
            <img
              [src]="'assets/img/project/lorem-total.png'"
              class="lorem-total mx-3"
              alt="lorem-tatal"
            />
            <div class="content">
              <div class="text">Lorem</div>
              <div class="number">+5.8%</div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</app-page-layout>
