.modal-join-project {
  border: 2px solid #b1b1b1;
  border-radius: 10px;
  padding: 10px 20px;
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6eff5;

    button {
      border: none;
      background-color: transparent;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  a {
    color: #718ebf;
    font-size: 14px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .join-button {
    background-color: #092c4c;
    color: #fff;
    width: 160px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    border: none;
  }

  mat-dialog-content.mat-mdc-dialog-content.mdc-dialog__content {
    padding: 20px 7px;
  }
}
