<div class="login-wrapper">
  <div class="row">
    <div class="login-left col-lg-6 col-md-6 col-sm-12">
      <img
        [src]="'assets/img/project/logo-app.png'"
        class="logo-app"
        alt="logo"
      />
      <img
        [src]="'assets/img/project/login-bg-left.png'"
        class="login-bg-left"
        alt="login-bg-left"
      />
    </div>
    <div class="login-right col-lg-6 col-md-6 col-sm-12">
      <div class="login-right-wrapper">
        <div class="login-right-inner">
          <div class="text-center text-primary mb-4">
            <img
              [src]="'assets/img/project/logo-1.png'"
              alt="logo"
              class="logo-image"
            />
            <div class="title">
              {{
                isLoginScreen ? "Sign in new account" : "Sign up to your account"
              }}
            </div>
            <div class="subtitle">Welcome back! Please enter your details.</div>
          </div>
  
          <div class="d-flex justify-content-center">
            <div class="wrapper">
              <div class="tab-labels">
                <div [ngClass]="{
                    'active': selectedTabIndex == 0
                  }" (click)="onClickTab(0)">
                  Email
                </div>
                <div [ngClass]="
                  {
                    'active': selectedTabIndex == 1
                  }" (click)="onClickTab(1)">Phone Number</div>
              </div>
              <form [formGroup]="formGroup">
                <div *ngIf="selectedTabIndex == 0" class="mb-5">
                  <label for="email" class="form-label text-start w-100"
                    >Email</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    formControlName="email"
                    placeholder="Enter your email"
                    [ngClass]="{
                      'is-invalid':
                        formGroup.controls.email.errors &&
                        formGroup.controls.email.touched
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="formGroup.controls.email.hasError('required')"
                  >
                    {{ "FIELD_REQUIRED" | translate }}
                  </div>
                  <div
                    class="invalid-feedback"
                    *ngIf="formGroup.controls.email.hasError('email')"
                  >
                    {{ "FIELD_EMAIL" | translate }}
                  </div>
                </div>
                <div *ngIf="selectedTabIndex == 0" [ngClass]="isLoginScreen ? 'mb-4' : 'mb-5'">
                  <label for="password" class="form-label text-start w-100">{{
                    "PASSWORD" | translate
                  }}</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="password"
                    placeholder="Enter your password"
                    [ngClass]="{
                      'is-invalid':
                        formGroup.controls.password.errors &&
                        formGroup.controls.password.touched
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="formGroup.controls.password.hasError('required')"
                  >
                    {{ "FIELD_REQUIRED" | translate }}
                  </div>
                </div>
                <div *ngIf="selectedTabIndex == 1 && !isOTPCodeShowed" class="mb-5">
                  <label for="phoneNumber" class="form-label text-start w-100"
                    >Phone Number</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="phoneNumber"
                    formControlName="phoneNumber"
                    placeholder="Enter your phone number"
                    [ngClass]="{
                      'is-invalid':
                        formGroup.controls.phoneNumber.errors &&
                        formGroup.controls.phoneNumber.touched
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="formGroup.controls.phoneNumber.hasError('required')"
                  >
                    {{ "FIELD_REQUIRED" | translate }}
                  </div>
                </div>
                <div *ngIf="selectedTabIndex == 1 && isOTPCodeShowed" class="mb-5">
                  <label for="otpCode" class="form-label text-start w-100"
                    >OTP Code</label
                  >
                  <input
                    type="number"
                    class="form-control"
                    id="otpCode"
                    formControlName="otpCode"
                    placeholder="Enter your OTP code"
                    [ngClass]="{
                      'is-invalid':
                        formGroup.controls.otpCode.errors &&
                        formGroup.controls.otpCode.touched
                    }"
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="formGroup.controls.otpCode.hasError('required')"
                  >
                    {{ "FIELD_REQUIRED" | translate }}
                  </div>
                </div>
                <div *ngIf="isLoginScreen" class="d-flex remember-wrapper mb-5">
                  <label for="check" class="remember-label d-flex">
                    <input id="check" [hidden]="false" type="checkbox" />
                    <span>Remember me for 30 days</span>
                  </label>
                  <a routerLink="/auth/forgot-password" class="forgot-link">{{
                    "FORGOT_YOUR_PWD" | translate
                  }}</a>
                </div>
                <div class="text-center mb-5 login-signup-btn">
                  <button  (click)="onClickSubmit()"  *ngIf="selectedTabIndex == 0 || (selectedTabIndex == 1 && isOTPCodeShowed)" type="submit" class="btn btn-primary mb-3 px-5">
                    <span class="px-4 d-block">{{
                      isLoginScreen ? "Sign in to your account" : "Get started"
                    }}</span>
                  </button>
                  <button (click)="onGetOTP()" *ngIf="selectedTabIndex == 1 && !isOTPCodeShowed" class="btn btn-primary mb-3 px-5">
                    <span class="px-4 d-block">Get OTP</span>
                  </button>
                </div>
                <div class="d-flex sign-up-wrapper">
                  <span class="text">{{
                    isLoginScreen
                      ? "Already have an account ?"
                      : "Don't have an account ?"
                  }}</span>
                  <a
                    routerLink="{{
                      isLoginScreen ? '/auth/sign-up' : '/auth/login'
                    }}"
                    class="sign-up-link"
                    >{{
                      isLoginScreen
                        ? "Sign
                    Up"
                        : "Sign In"
                    }}</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
