<app-page-layout>
  <div class="project-detail">
    <app-progress-bar *ngIf="storeService.isLoading()"></app-progress-bar>
    <ng-container *ngIf="!storeService.isLoading()">
      <div class="project-detail-wrapper">
        <h1 class="title" [textContent]="title"></h1>
        <form [formGroup]="formGroup">
          <div class="form-wrapper">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-5">
                <label for="name" class="form-label text-start w-100">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name"
                  [ngClass]="{
                      'is-invalid':
                        formGroup.controls.name.errors &&
                        formGroup.controls.name.touched
                    }" />

                <div class="invalid-feedback" *ngIf="formGroup.controls.name.hasError('required')">
                  {{ "FIELD_REQUIRED" | translate }}
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-5">
                <label for="id" class="form-label text-start w-100">ID</label>
                <input type="id" class="form-control" id="id" formControlName="id" placeholder="Enter your id"
                  [ngClass]="{
                    'is-invalid':
                      formGroup.controls.id.errors &&
                      formGroup.controls.id.touched
                  }" />
                <div class="invalid-feedback" *ngIf="formGroup.controls.id.hasError('required')">
                  This field is required
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-5">
                <label for="type" class="form-label text-start w-100">Type</label>
                <mat-form-field [ngClass]="{
                  'is-invalid':
                    formGroup.controls.type.errors &&
                    formGroup.controls.type.touched
                }">
                  <mat-select formControlName="type" placeholder="Select your type" [(value)]="model.type"
                    (selectionChange)="changeType($event)">
                    @for (option of types; track option) {
                    <mat-option [value]="option.value">{{
                      option.viewValue
                      }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <div class="invalid-feedback" *ngIf="formGroup.controls.type.hasError('required')">
                  {{ "FIELD_REQUIRED" | translate }}
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-5">
                <label for="status" class="form-label text-start w-100">Status</label>
                <mat-form-field [formGroup]="formGroup" [ngClass]="{
                  'is-invalid':
                    formGroup.controls.status.errors &&
                    formGroup.controls.status.touched
                }">
                  <mat-select formControlName="status" placeholder="Select your status" [(value)]="model.status"
                    (selectionChange)="changeStatus($event)">
                    <mat-option *ngFor="let item of statuses" [value]="item.value">{{item.viewValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="invalid-feedback" *ngIf="formGroup.controls.status.hasError('required')">
                  {{ "FIELD_REQUIRED" | translate }}
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="mb-5">
                  <label for="startDate" class="form-label text-start w-100">Start Date</label>
                  <input type="date" class="form-control" id="startDate" formControlName="startDate"
                    placeholder="Enter your Date of Birth"
                    [ngClass]="{ 'is-invalid' : formGroup.controls.startDate.errors && formGroup.controls.startDate.touched }">
                  <div class="invalid-feedback" *ngIf="formGroup.controls.startDate.hasError('required')">
                    {{ 'FIELD_REQUIRED' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="mb-5">
                  <label for="endDate" class="form-label text-start w-100">End Date</label>
                  <input type="date" class="form-control" id="endDate" formControlName="endDate"
                    placeholder="Enter your Date of Birth"
                    [ngClass]="{ 'is-invalid' : formGroup.controls.endDate.errors && formGroup.controls.endDate.touched }">
                  <div class="invalid-feedback" *ngIf="formGroup.controls.endDate.hasError('required')">
                    {{ 'FIELD_REQUIRED' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-5">
                <label for="payment" class="form-label text-start w-100">Payment</label>
                <mat-form-field [formGroup]="formGroup" [ngClass]="{
                  'is-invalid':
                    formGroup.controls.payment.errors &&
                    formGroup.controls.payment.touched
                }">
                  <mat-select formControlName="payment" placeholder="Select your payment" [(value)]="model.payment"
                    (selectionChange)="changeStatus($event)">
                    <mat-option *ngFor="let item of payments" [value]="item.value">{{item.viewValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="invalid-feedback" *ngIf="formGroup.controls.payment.hasError('required')">
                  {{ "FIELD_REQUIRED" | translate }}
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb-5">
                <label for="paymentAmount" class="form-label text-start w-100">Payment Amount</label>
                <input type="text" class="form-control" id="paymentAmount" formControlName="paymentAmount"
                  placeholder="$1.000.000" [ngClass]="{
                    'is-invalid':
                      formGroup.controls.paymentAmount.errors &&
                      formGroup.controls.paymentAmount.touched
                  }" />
                <div class="invalid-feedback" *ngIf="formGroup.controls.paymentAmount.hasError('required')">
                  This field is required
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="mb-5">
                  <label for="warrantyStartDate" class="form-label text-start w-100">Warranty Start Date</label>
                  <input type="date" class="form-control" id="warrantyStartDate" formControlName="warrantyStartDate"
                    placeholder="Enter your warranty start date"
                    [ngClass]="{ 'is-invalid' : formGroup.controls.warrantyStartDate.errors && formGroup.controls.warrantyStartDate.touched }">
                  <div class="invalid-feedback" *ngIf="formGroup.controls.warrantyStartDate.hasError('required')">
                    {{ 'FIELD_REQUIRED' | translate }}
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="mb-5">
                  <label for="warrantyEndDate" class="form-label text-start w-100">Warranty End Date</label>
                  <input type="date" class="form-control" id="warrantyEndDate" formControlName="warrantyEndDate"
                    placeholder="Enter your warranty end date"
                    [ngClass]="{ 'is-invalid' : formGroup.controls.warrantyEndDate.errors && formGroup.controls.warrantyEndDate.touched }">
                  <div class="invalid-feedback" *ngIf="formGroup.controls.warrantyEndDate.hasError('required')">
                    {{ 'FIELD_REQUIRED' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="agreement-table">
          <h1 class="table-label">Agreement table</h1>
          <div class="mat-elevation-z8 table-list">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="createdBy">
                <th class="createdBy-col cell-center" mat-header-cell *matHeaderCellDef>
                  Created By
                </th>
                <td mat-cell *matCellDef="let element" class="cell-center">
                  {{ element.createdBy }}
                </td>
              </ng-container>
              <ng-container matColumnDef="description">
                <th class="description-col" mat-header-cell *matHeaderCellDef>
                  Description
                </th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.editing; then editBlock; else displayBlock"></span>
                  <ng-template #displayBlock>
                    {{ element.description }}</ng-template>
                  <ng-template #editBlock>
                    <textarea class="form-control" name="editBlock" id="editBlock"
                      placeholder="Please enter new description..."></textarea>
                  </ng-template>
                </td>
              </ng-container>
              <ng-container matColumnDef="date">
                <th class="date-col cell-center" mat-header-cell *matHeaderCellDef>
                  Date
                </th>
                <td mat-cell *matCellDef="let element" class="cell-center">
                  {{ element.date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="tradeApproval">
                <th class="trade-approval-col cell-center" mat-header-cell *matHeaderCellDef>
                  Trade Approval
                </th>
                <td mat-cell *matCellDef="let element; index as index" class="cell-center">
                  <mat-form-field class="approval-field">
                    <mat-select placeholder="Status" [(value)]="element.tradeApproval" [class]="element.tradeApproval"
                      (selectionChange)="changeApproval($event, 'tradeApproval', index)">
                      <mat-option *ngFor="let item of statusesApproval"
                        [value]="item.value">{{item.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="customerApproval">
                <th class="customer-approval-col cell-center" mat-header-cell *matHeaderCellDef>
                  Customer Approval
                </th>
                <td mat-cell *matCellDef="let element; index as index" class="cell-center">
                  <mat-form-field class="approval-field">
                    <mat-select placeholder="Status" [(value)]="element.customerApproval"
                      [class]="element.customerApproval"
                      (selectionChange)="changeApproval($event, 'customerApproval', index)">
                      <mat-option *ngFor="let item of statusesApproval"
                        [value]="item.value">{{item.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <ng-container matColumnDef="ajudicatorApproval">
                <th class="ajudicator-approval-col cell-center" mat-header-cell *matHeaderCellDef>
                  Ajudicator Approval
                </th>
                <td mat-cell *matCellDef="let element; index as index" class="cell-center">
                  <mat-form-field class="approval-field">
                    <mat-select placeholder="Status" [(value)]="element.ajudicatorApproval"
                      [class]="element.ajudicatorApproval"
                      (selectionChange)="changeApproval($event, 'ajudicatorApproval', index)">
                      <mat-option *ngFor="let item of statusesApproval"
                        [value]="item.value">{{item.viewValue}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="editRow">
                <th class="edit-row-col cell-center" mat-header-cell *matHeaderCellDef>

                </th>
                <td mat-cell *matCellDef="let element; index as index" class="cell-center">
                  <button class="edit-button" (click)="onEditRow(element, index)">
                    <img src="assets/img/project/edit-row.png" alt="" />
                  </button>
                </td>

              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div class="row-add">
              <mat-icon (click)="addRow()" aria-hidden="false" aria-label="add" fontIcon="add"></mat-icon>
            </div>
          </div>
        </div>
        <div class="action-buttons">
          <button (click)="onCancel()" class="secondary">Back</button>
          <button (click)="onSave()" type="submit" class="primary">Save</button>
        </div>
      </div>
    </ng-container>
  </div>
</app-page-layout>